[Unit]
Description=Mount overlays
DefaultDependencies=no
Before=local-fs.target
After=local-fs-pre.target vendor.mount
Requires=vendor.mount

[Service]
Type=oneshot
ExecStart=echo foo #/usr/bin/droid/mount-overlays /overlays #Fingerprint doesn't work and causes other problems so I've commented this out for now
RemainAfterExit=true

[Install]
WantedBy=local-fs.target
