[Unit]
Description=Mount overlays
DefaultDependencies=no
Before=local-fs.target
After=local-fs-pre.target vendor.mount
Requires=vendor.mount

[Service]
Type=oneshot
ExecStart=/usr/bin/droid/mount-overlays /overlays
RemainAfterExit=true

[Install]
WantedBy=local-fs.target
